<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages Dashboard</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <%- include('templates/header') %>
    <main>
      <div class="container">
        <p
          ><i
            >The sky is blue, violets are red... my favorite color is red</i
          ></p
        >
      </div>
    </main>
  </body>
</html>
