<form
  id="searchForm"
  class="search-form"
  action="/search"
  method="GET"
  role="search"
  aria-label="Site Search"
>
  <label for="searchbar"></label>
  <input
    type="text"
    name="keyword"
    id="searchbar"
    placeholder="Search..."
    autocomplete="off"
    required
  />
  <button type="submit" hidden></button>
</form>
