<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <%- include("partials/errors.ejs") %>
    <form action="/create" method="POST">
      <label for="firstName">First Name: </label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        pattern="^[A-Za-z]{1,24}$"
        placeholder="John"
        required
      />
      <label for="lastName">Last Name: </label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        pattern="^[A-Za-z]{1,24}$"
        placeholder="Doe"
        required
      />
      <label for="email">Email: </label>
      <input
        type="email"
        name="email"
        id="email"
        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
      />
      <label for="age">Age: </label>
      <input type="number" name="age" id="age" min="18" max="120" />
      <label for="bio">Bio: </label>
      <input
        type="text"
        name="bio"
        id="bio"
        minlength="3"
        maxlength="200"
        placeholder="What's on your mind?"
      />
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
