<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World!</title>
    <link rel="stylesheet" href="styles/app.css" />
    <script src="scripts/darkmode.js" defer></script>
  </head>
  <body>
    <header>
      <div>
        <h1>This Is An Excellent Site</h1>
        <nav class="main-nav">
          <ul></ul>
          <button id="darkToggle">Dark Mode</button>
        </nav>
      </div>
    </header>
    <main role="main">
      <div class="container"></div>
    </main>
  </body>
</html>
