<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <h1>Message Board</h1>
    <div class="msgs-container">
      <% for (const msg of messages) { %>
      <div id="msg-<%= msg.id %>" class="msg-card">
        <div class="msg-card-header">
          <span class="msg-card-user"><%= msg.user %></span>
          <span class="msg-card-added"><%= msg.added %></span>
        </div>
        <div class="msg-card-text">
          <p class="msg-card-text-content"><%= msg.text %></p>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
